@model UserModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{ 
    
    @Html.ValidationSummary()
    <div>
        <div>
            <p>Login</p>
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>
        <div>
            <p>Hasło</p>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div>
            <input type="submit" value="Zaloguj"/>
        </div>

    </div>
}

