@*WIDOK Z POPRZEDNIEGO ZADANIA*@
@model ProductListModel
  
@{
    ViewBag.Title = "Product List";
}
    
<p><br /><br />
    <a href="../home" class="btn btn-info" role="button">Powrót do strony głównej&raquo;</a>
    <a href="../products" class="btn btn-warning btn-lg" role="button">Odśwież listę&raquo;</a>
</p>

<p>
    <table class="table">
        <thead>
            <tr>
                <td><b>Lp.</b></td>
                <td><b>Producent</b></td>
                <td><b>Model</b></td>
                <td><b>Cena</b></td>
                <td><b>Data produkcji</b></td>
                <td><b>Typ</b></td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Products.Count(); i++)
            {
                ProductModel product = Model.Products.ElementAt(i);
                <tr>
                    <td>@(i + 1)</td>
                    <td>@product.Producer</td>
                    <td>@product.Model</td>
                    <td>@product.Price</td>
                    <td>@product.ProductionDate</td>
                    <td>@product.Type</td>
                </tr>
            }
        </tbody>
    </table>
</p>

@section PageTitle{
    <h2><span style="color: crimson">Lista produktów</span></h2>
}
