@model PlayerModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edytuj Zawodnika</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <p>Numer: @Html.EditorFor(model => model.Number)</p>
    @Html.ValidationMessageFor(model => model.Number)
    <p>Imię: @Html.EditorFor(model => model.FirstName) </p>
    @Html.ValidationMessageFor(model => model.FirstName)
    <p>Nazwisko: @Html.EditorFor(model => model.LastName)</p>
    @Html.ValidationMessageFor(model => model.LastName)

    <input type="submit"/>
    }


