@model PlayerListModel


<h2>Kadra</h2>

<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Imię</th>
            <th>Nazwisko</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PlayerModel player in Model.Players)
        {
            <tr>
                <td>@player.Number</td>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
                <td>@Html.ActionLink("szczegóły", "details", new { number = player.Number})</td>
                <td>@Html.ActionLink("edytuj", "Edit", new { number = player.Number })</td>
            </tr>
        }
    </tbody>
</table>

@section SiteName{

}

@section ViewName{
    To jest Players  Screen
}