@model ProductListModel

@{
    ViewBag.Title = "Products";
}
<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <td></td>
            <td>Producer</td>
            <td>Model</td>
            <td>Price</td>
            <td>Date</td>
            <td>Type</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Products.Count(); i++)
        {
            ProductModel product = Model.Products.ElementAt(i);

            <tr>
                <td>@(i + 1)</td>
                <td>@product.Producer</td>
                <td>@product.Model</td>
                <td>@product.Price</td>
                <td>@product.Date.ToLongDateString()</td>
                <td>@product.Type</td>
            </tr>
        }
    </tbody>
</table>