<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 0px;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="position: relative;">
        <div class="container">
            <h1>
                <span style="color: white">PZ</span><span style="color: red">PN</span>
            </h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Strona Startowa", "Home", "Home")</li>
                <li>@Html.ActionLink("Wszyscy Zawodnicy", "Players", "Player")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
            @RenderSection("SiteName")
        </div>
    </div>
    <div class="row"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kamil Wołczyk</p> - @RenderSection("ViewName")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
