
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name=" viewport" content=" width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>Nazwa kontrolera: @ViewBag.Controller</div>
    <div>Nazwa akcji: @ViewBag.Action</div>
    <div>Zmienna : @ViewBag.color</div>
    <div>Zmienna_1 : @ViewBag.variable1</div>
    <div>Zmienna_2 : @ViewBag.variable2</div>


</body>
</html>