@model Fsd.Arek.Cs.Ex4.Web.Models.ProductModel


@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <h5>
                @Html.LabelFor(model => model.Producer)<br />
                @Html.EditorFor(model => model.Producer)<br />
                <div style="color:red">@Html.ValidationMessageFor(model => model.Producer)</div>
            </h5>
            <h5>
                @Html.LabelFor(model => model.Model)<br />
                @Html.EditorFor(model => model.Model)<br />
                <div style="color:red">@Html.ValidationMessageFor(model => model.Model)</div>
            </h5>
            <h5>
                @Html.LabelFor(model => model.Price)<br />
                @Html.EditorFor(model => model.Price)<br />
                <div style="color:red">@Html.ValidationMessageFor(model => model.Price)</div>
            </h5>
            <h5>
                @Html.LabelFor(model => model.Type)<br />
                @Html.EditorFor(model => model.Type)<br />
                <div style="color:red">@Html.ValidationMessageFor(model => model.Type)</div>
            </h5>
            <h5>
                @Html.LabelFor(model => model.DateOfProduction)<br />
                @Html.EditorFor(model => model.DateOfProduction)<br />
                <div style="color:red">@Html.ValidationMessageFor(model => model.DateOfProduction)</div>
            </h5>
            <input type="submit" value="Create" />
        </div>
    </div>
}
